<div class="component__inner ordering__inner">
  {{> component this}}
  <div class="ordering__container">
    {{#each _items}}
      <div class="ordering__item">{{text}}</div>
    {{/each}}
  </div>
  <div class="btn__container"></div>
</div>
